.wrapper {
  border: 2px solid black;
  background-color: rgb(209, 207, 207);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  display: grid;
  column-gap: 5;
}

.input {
  background-color: aliceblue;
  border-radius: 4px;
  color: black;
}

.title {
  color: rgb(9, 6, 6);
  font-size: bold;
}
