.wrapper {
  border: 2px solid black;
  background-color: rgb(209, 207, 207);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: left;
}

.field {
  background-color: aliceblue;
  border-radius: 4px;
  color: rgb(9, 6, 6);
}

.errorMessage {
  text-align: center;
  color: red;
}

.btn {
  color: black;
  background-color: aliceblue;
}
.btn:hover {
  background-color: aqua;
  transform: scale(1.1);
}
